{% extends 'main/layout.html.twig' %}


{% block top_content %} 
<div class="col-sm">
	<button id="addNewClient" type="button" class="btn btn-primary">Add Client</button>
</div>
{% endblock %}

{% block mid_content %} 

{% endblock %}

{% block bottom_content %} 

{% endblock %}